.action-box {
    text-align: justify;
    padding: 16px;
}

.how-works {
    padding: 50px 16px;
}
.how-title {
    padding-bottom: 16px;
}

.center {
    padding-left: 50%;
    padding-bottom: 10%;
}

.content {
    text-align: justify;
}